<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 5</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="animate-text">Hola Mundo!!</h1>
        <h1 class="animate-text">Somos el grupo 5!!</h1>
        <img src="../static/images/grupo5.png" alt="Grupo 5" class="animate-image">
    </div>
</body>
</html>
